*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    width: 400px;
    margin: 5px;  
    border-radius: 3px;
}

.pictureART {
    clip-path: polygon(95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%, 5% 0%);
    margin-right: 5%;
    border-radius: 3px;
}

.easy {
    background-color: green;
}

.medium {
    background-color: rgb(219, 155, 54);
}

.hard {
    background-color: rgb(142, 32, 32);
}

.list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    dt {
        align-self: center;
        justify-self: flex-end;
        margin-right: 10px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    dd {
        align-self: center;
        justify-self: flex-start;
        margin-bottom: 10px;
    }
}
